<div style="max-width: 700px; margin: 0 auto; text-align: center">
  <h1>Update Portfolio</h1>
  <%= render 'form', portfolio_item: @portfolio_item %>
  <br>

  <%= link_to 'Cancel edit', portfolio_path(@portfolio_item) %>
</div>