<div style="max-width: 700px; margin: 0 auto; text-align: center">
  <h1>Create Portfolio</h1>
  <%= render 'form', portfolio_item: @portfolio_item %>
  <br>

  <%= link_to 'Back to Portfolios', portfolios_path %>
</div>
