<h1>Contact</h1>
<p><%= number_to_phone "7032573575", country_code: 234 %></p>
<p><%= number_to_currency "150" %></p>
<p><%= number_to_percentage "80", precision: 2 %></p>
<p><em><%= number_with_delimiter "1234567", delimiter: ", " %></em></p>
